.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(sprite.svg);
}
.icon-list-ol {
    width: 28px;
    height: 28px;
    background-position: 0 0;
}
.icon-tag {
    width: 24px;
    height: 28px;
    background-position: -44px 0;
}
.icon-plus {
    width: 22px;
    height: 28px;
    background-position: -88px 0;
}
.icon-sign-out {
    width: 25px;
    height: 28px;
    background-position: -132px 0;
}
.icon-sign-in {
    width: 24px;
    height: 28px;
    background-position: -176px 0;
}
.icon-angle-down {
    width: 18px;
    height: 28px;
    background-position: -220px 0;
}
.icon-angle-up {
    width: 18px;
    height: 28px;
    background-position: -264px 0;
}
.icon-angle-right {
    width: 9px;
    height: 28px;
    background-position: -308px 0;
}
.icon-angle-left {
    width: 11px;
    height: 28px;
    background-position: -352px 0;
}
.icon-check-square {
    width: 24px;
    height: 28px;
    background-position: -396px 0;
}
.icon-minus-square {
    width: 24px;
    height: 28px;
    background-position: -440px 0;
}
.icon-square {
    width: 24px;
    height: 28px;
    background-position: -484px 0;
}
.icon-cog {
    width: 24px;
    height: 28px;
    background-position: -528px 0;
}
.icon-user-circle {
    width: 28px;
    height: 28px;
    background-position: -572px 0;
}
.icon-user-times {
    width: 32px;
    height: 28px;
    background-position: -616px 0;
}
.icon-group {
    width: 30px;
    height: 28px;
    background-position: 0 -44px;
}
.icon-user-plus {
    width: 32px;
    height: 28px;
    background-position: -44px -44px;
}
.icon-user {
    width: 20px;
    height: 28px;
    background-position: -88px -44px;
}
.icon-map {
    width: 28px;
    height: 28px;
    background-position: -132px -44px;
}
.icon-map-marker {
    width: 16px;
    height: 28px;
    background-position: -176px -44px;
}
.icon-home {
    width: 26px;
    height: 28px;
    background-position: -220px -44px;
}

