extends ../base/page.pug

block append head
    title ZombieAggies | Login

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Login
        .auth-error
            p
        .auth-form
            form(id="login" action="/auth/login" method="post")
                input(type='hidden', name='_csrf', value=csrf)
                p
                    label Email:
                        input(required="required" type="text" name="username")
                p
                    label Password:
                        input(required="required" type="password" name="password")
                br
                p
                    button(type="submit") Login
                br
            p 
                |Need an account? 
                a(href="/auth/register") Register
                |.
            p Forgot your password? DM Hunter on Discord.