extends ../page.pug

block append head
    title ZombieAggies | Login

block append main
    h1 Login
    form(action="/auth/login" method="post")
        p
            label Username:
                input(required type="text" name="username")
        p
            label Password:
                input(required type="password" name="password")
        p
            button(type="submit") Login
    p: a(href="/auth/register") Register