extends ../page.pug

block append head
    title ZombieAggies | Register

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Register
        .auth-form
            form(action="/auth/register" method="post")
                input(type='hidden', name='_csrf', value=csrf)
                p
                    label First Name:
                p
                    input(type="text" name="firstname")
                p
                    label Last Name:
                p
                    input(type="text" name="lastname")
                p
                    label Username:
                p
                    input(required="required" type="text" name="username")
                p
                    label Password:
                p
                    input(required="required" type="password" name="password")
                br
                p
                    button(type="submit") Register
                br
            p 
                | Already have an account? 
                a(href="/auth/login") Login
                |.
            p 
                | By registerring, you agree to our 
                a(href="/legal/tos") Terms 
                | and our 
                a(href="/legal/privacy") Privacy Policy
                |.