extends ../base/page.pug

block append head
    title ZombieAggies | Register

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Register
        .auth-error
            p
        .auth-form
            form(id="register" action="/auth/register" method="post")
                input(type='hidden', name='_csrf', value=csrf)
                p
                    label.required First Name:
                p
                    input(required type="text" name="firstname")
                p
                    label.required Last Name:
                p
                    input(required type="text" name="lastname")
                p
                    label.required Email:
                p
                    input(required type="email" name="username")
                p
                    label.required A Number:
                p
                    input(required type="text" name="aNumber")
                p
                    label Phone Number:
                p
                    input(type="text" name="phone")
                p
                    label.required Password:
                p
                    input(required type="password" name="password")
                br
                p
                    button(type="submit") Register
                br
            p 
                | Already have an account? 
                a(href="/auth/login") Login
                |.
            p 
                | By registerring, you agree to our 
                a(href="/legal/tos") Terms 
                | and our 
                a(href="/legal/privacy") Privacy Policy
                |.