extends ../base/page.pug

block append head
    title ZombieAggies | Status

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Status
        .auth-form
            p Hello #{(user.firstname ? user.firstname: user.username)}#{user.title !== 'Player' ? " (" + user.title + ")" : ""}!
            p
                | Your player ID is
                |
                b #{user.code.code ? user.code.code : "null"}
                | .
            p You #{user.bandanna ? "have" : "do not have"} a bandanna checked out.
            if(user.discord)
                p Your discord is linked.
            else
                p
                    | Your discord is not linked.
                    |
                    a(href="/auth/discord/link" target="_blank") Link
                    |
                    | it?
            form(action='/auth/logout' method="get")
                button(type="submit") Logout