extends ../page.pug

block append head
    title ZombieAggies | Status

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Status
        .auth-form
            p Hello #{(user.firstname ? user.firstname: user.username)}#{user.title ? " (" + user.title + ")" : ""}!
            p You #{user.bandanna ? "have" : "do not have"} a bandanna checked out.
            form(action='/auth/logout' method="get")
                button(type="submit") Logout