doctype html
block html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block favicon
            link(rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png")
            link(rel="manifest" href="/static/site.webmanifest")
            link(rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#d08770")
            link(rel="shortcut icon" href="/static/favicon.ico")
            meta(name="msapplication-TileColor" content="#d08770")
            meta(name="msapplication-config" content="/static/browserconfig.xml")
            meta(name="theme-color" content="#ffffff")
        block head
        block styles
            link(rel="stylesheet" href="/static/reset.css")
            link(rel="stylesheet" href="/static/base.css")
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        block scripts
            script(src="/static/base.js")
    body(onload="init()" data-csrf=csrf)
        block content
            include ../includes/leftbar
            main
                block main