extends ../base/page

block append head
    title ZombieAggies | Admin

block append styles
    link(rel="stylesheet" href="/static/admin.css")

block prepend scripts
    script(src="/static/admin.js")

block append main
    #actions
        button(onclick="dayTwo(this)" id="dayTwo") Unhide Nuclear Zombies
        button(onclick="undoDayTwo(this)" id="undoDayTwo") Hide Nuclear Zombies
        button(onclick="resetPoints(this)" id="resetPoints") Reset Points
        button(onclick="newGame(this)" id="newGame") New Game