$colors: (
        background-dark: #3E4E50,
        background-mid: #526063,
        background-light: #CAD2C5,
        accent: #E55812,
        contrast: #23C9FF,
        text-light: rgba(255, 255, 255, 95%),
);

$font_0: 'sans-serif';