$colors: (
        background-dark: #3E4E50,
        background-mid: #526063,
        background-light: #cfd1cd,
        accent: #E55812,
        contrast: #23C9FF,
        text-light: rgba(255, 255, 255, 95%),
        text-dark: rgba(0, 0, 0, 90%),
);

$font_0: sans-serif;