@import "globals";

#main
{
    flex-flow: column;
}

#error {
    flex: 0 0 50px;
    padding: 4px;
    display: none;
    background-color: map-get($colors, red);

    & > p {
        color: white;
        text-align: center;
        font-family: $font_sans;
        font-size: 0.8em;
    }
}

#actions {
    flex: 1 1 auto;
}

.box-active {
    color: map-get($colors, green);
}

.box-inactive {
    color: map-get($colors, red);
}

.player-container {
    margin-top: 100px;
    flex: 1 1 auto;
}

.player-info {
    background-color: map-get($colors, background-dark);
    flex: 1 1 auto;

    th {
        background-color: map-get($colors, background-dark-light);
        position: sticky;
    }

    .player-data {
        border-right: map-get($colors, text-light) 1px solid;
        color: map-get($colors, text-light);
        font-family: $font_sans;
        padding: 4px;

        &.permissions {
            display: flex;
        }

        .player-permission {
            flex: 3 1 10px;
        }
    }
}