@import 'globals.scss';

.auth {
    margin: auto;
    margin-top: 100px;
    width: 320px;
    border-radius: 8px;
    background-color: white;

    .auth-header {
        background: #f2b365;
        background: linear-gradient(135deg, map-get($colors, accent), darken(map-get($colors, accent), 10%));
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px black solid;
        padding: 16px 16px 4px;
        margin-bottom: 4px;
    }

    .auth-form {
        padding: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-family: $font_0;

        label {
            margin-bottom: 2px;
            color: black;
            font-variant: small-caps;
            font-size: 12px;
            text-align: left;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            font-size: 12px;
            border: none;
            border-bottom: gray 1px solid;
            margin-bottom: 1px;
            height: 20px;
            transition: border-bottom 0.5s ease-in-out, margin 0.5s ease-in-out;

            &:focus {
                border-bottom: map-get($colors, accent) 2px solid;
                transition: border-bottom 0.5s ease-in-out, margin 0.5s ease-in-out;
            }
        }

        button {
            width: 100%;
            border: none;
            font-variant: small-caps;
            font-family: $font_0;
        }
    }

    p {
        margin-bottom: 12px;
        color: black;
    }

    h1 {
        font-size: 24px;
        font-family: $font_0;
        text-align: center;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }

    h2 {
        font-size: 20px;
        font-family: $font_0;
        text-align: center;
    }
}