@import 'globals.scss';

.auth {
    width            : 320px;
    margin           : 100px auto auto;
    border-radius    : 8px;
    background-color : white;

    .auth-header {
        background: map-get($colors, accent);
        background: linear-gradient(135deg, map-get($colors, accent), darken(map-get($colors, accent), 10%));
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px black solid;
        padding: 16px 16px 4px;
    }

    .auth-error:empty {
        display: none;
    }
    
    .auth-error:not(:empty) {
        padding: 4px;
        background-color: map-get($colors, red);
        border-bottom: 1px black solid;

        & > p {
            color: white;
            text-align: center;
            font-family: $font_sans;
            font-size: 0.8em;
        }
    }

    button
    {
        width : 90%;
    }

    .auth-form {
        font-family                : $font_sans;
        padding                    : 16px;
        border-bottom-right-radius : 8px;
        border-bottom-left-radius  : 8px;

        label {
            margin-bottom: 2px;
            color: black;
            font-variant: small-caps;
            font-size: 12px;
            text-align: left;
        }

        label.required {
            &::before {
                content: "* ";
                color: map-get($colors, red);
            }
        }

        input {
            box-sizing    : border-box;
            width         : 100%;
            //font-size: 12px;
            height        : 20px;
            margin-bottom : 1px;
            transition    : border-bottom 0.5s ease-in-out, margin 0.5s ease-in-out;
            border        : none;
            border-bottom : gray 1px solid;

            &:focus {
                border-bottom: map-get($colors, accent) 2px solid;
                transition: border-bottom 0.5s ease-in-out, margin 0.5s ease-in-out;
            }
        }
    }

    h1 {
        font-size: 24px;
        font-family: $font_sans;
        text-align: center;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }

    h2 {
        font-size: 20px;
        font-family: $font_sans;
        text-align: center;
    }
}