@import "globals.scss";
@import "nav";
@import "angled-edges";


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

body
{
    display: flex;
    flex-flow: column;
}

#main {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    background-color: black;
}

#home-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    color: map-get($colors, text-light);
    font-family: $font_sans;

    .home-header {
        margin: 16px;
        h1 {
            margin-top: 50px;
            font-size: 4em;
            font-family: $font_sans;
            color: map-get($colors, accent);
            text-align: center;
        }

        h2 {
            font-size: 1.5em;
            font-family: $font_sans;
            color: map-get($colors, text-light);
            font-style: italic;
            text-align: center;
        }

        .next-game {
            font-size: 1.5em;
            text-align: center;
            margin-top: 50px;

            &:before {
                font-size: 1.5em;
                content: "Next Game";
                color: map-get($colors, accent);
            }
        }
    }

    .player-comments {
        .player-comment {
            margin: 16px auto;
            padding: 8px;
            border-left: map-get($colors, text-light) 1px solid;
            width: 40em;
            @media screen and (max-width: 700px) {
                width: 90%;
            }

            h3 {
                font-size: 0.8em;
                text-align: left;
            }

            p {
                color: map-get($colors, text-light);
                text-align: justify;
                font-size: 1em;
            }

            &:nth-child(even) {
                h3 {
                    text-align: right;
                }
            }
        }
    }
    
    .people-cards {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: space-around;

        .person-spacer {
            flex: 1 1 0;
        }


        .person {
            @include angled-edge('outside bottom', 'lower right', map-get($colors, background-light-mid), 20);
            background-color: map-get($colors, background-light-mid);
            flex: 0 0 250px;
            height: 475px;
            margin: 50px auto 50px auto;
            box-shadow: 0 2px 8px black;

            &:after {
                z-index: 0;
            }

            .person-header {
                //background-color: var(--color, map-get($colors, accent));
                margin: 8px 8px 30px;
                background-color: map-get($colors, accent);
                padding: 4px;

                .name {
                    font-size: 2em;
                    text-align: center;
                    color: map-get($colors, text-light);
                }

                .position {
                    font-size: 1em;
                    text-align: center;
                    color: map-get($colors, text-light);
                }

                //border-bottom: map-get($colors, text-dark) 1px solid;
                @include angled-edge('outside bottom', 'lower right', map-get($colors, accent), 20);
            }

            .person-image {
                @include angled-edge('outside top', 'upper left', map-get($colors, background-light), 20);
                @include angled-edge('outside bottom', 'lower right', map-get($colors, background-light), 20);
                background-color: map-get($colors, background-light);
                margin: 8px 8px 30px;
                padding: 4px;
                img {
                    display: block;
                    object-fit: cover;
                    margin: 8px auto 8px auto;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: map-get($colors, text-dark) 4px solid;
                }
            }

            .person-bio {
                @include angled-edge('outside top', 'upper left', map-get($colors, background-light), 20);
                @include angled-edge('outside bottom', 'lower right', map-get($colors, background-light), 20);
                background-color: map-get($colors, background-light);
                margin: 8px;
                padding: 8px 4px 4px;
                height: 150px;
                z-index: 3;

                p {
                    color: map-get($colors, text-dark);
                    width: 80%;
                    text-align: left;
                    margin: 0 auto;
                }

                &:after {
                    z-index: 12;
                }
            }
        }
    }

    #join.home-section {
        background-color: map-get($colors, background-dark-light);
        //@include angled-edge('outside top', 'upper left', map-get($colors, background-dark-light), 50);
    }

    .home-section {
        width: 100%;
        flex: 1 1 300px;
        padding-bottom: 32px;

        &#presidency {
            flex: 1 1 600px;
        }

        &#officers {
            flex: 1 1 600px;
            margin-bottom: 200px;
        }

        h2 {
            margin-top: 75px;
            margin-bottom: 20px;
            text-align: center;
            font-family: $font_serif;
            font-size: 2em;
            color: map-get($colors, accent);
        }

        & > p {
            color: map-get($colors, text-light);
            text-align: justify;
            width: 40em;
            margin: 10px auto;
            @media screen and (max-width: 700px) {
                width: 90%;
            }
        }

        ul {
            display: block;
            list-style-type: disc;
            padding-left: 40px;
            color: map-get($colors, text-light);
            text-align: justify;
            margin: 10px auto;
            width: 40em;
            @media screen and (max-width: 700px) {
                width: 80%;
            }

            li {
                display: list-item;
                margin: 5px 0;
            }
        }

        background-color: map-get($colors, background-dark-light);

        .join-links {
            display: flex;
            flex-flow: row wrap;
            width: 40em;
            margin: 10px auto;
            @media screen and (max-width: 700px) {
                width: 90%;
            }

            .join-link {
                height: 30px;
                flex: 1 1 auto;
                margin: 5px;
                border-radius: 15px;
                background-color: map-get($colors, accent);
                text-align: center;

                a {
                    margin: 5px auto auto;
                    display: inline-block;
                    color: map-get($colors, text-light);
                }
            }

        }

        &:nth-child(2n+1) {
            background-color: map-get($colors, background-dark-mid);
            z-index: 1;
            //@include angled-edge('outside bottom', 'lower right', map-get($colors, background-dark-mid), 50);
        }
        &:not(:nth-child(2n+1)) {
            box-shadow: 0 0 12px black;
            z-index: 2;
            //@include angled-edge('outside bottom', 'lower right', map-get($colors, background-dark-light), 50);
        }
    }

    .footer {
        color: map-get($colors, text-light);
        margin: 5px auto auto;
        display: inline-block;
    }
}

.centered {
    margin: 100px auto auto;
    width: 320px;
    border-radius: 8px;
    color: map-get($colors, text-light);
    background-color: map-get($colors, background-dark-light);

    h1 {
        background: map-get($colors, accent);
        background: linear-gradient(135deg, map-get($colors, accent), darken(map-get($colors, accent), 10%));
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px black solid;
        padding: 16px 16px 4px;
        font-size: 2em;
        font-family: $font_sans;
        text-align: center;
    }

    p {
        font-size: 1em;
        font-family: $font_sans;
        text-align: center;
        padding: 16px;

        a {
            color: map-get($colors, text-light);
            font-family: $font_sans;
        }
    }
}