extends ../page.pug

block append head
    title ZombieAggies | Admin

block append styles
    link(rel="stylesheet" href="/static/admin.css")

block prepend scripts
    script(src="/static/admin.js")

block append main
    #actions
        button(onclick="dayTwo(this)") Unhide Nuclear Zombies
        button(onclick="undoDayTwo(this)") Hide Nuclear Zombies
        button(onclick="resetPoints(this)") Reset Points