extends ../base/page.pug

block append head
    title ZombieAggies | Players

block append styles
    link(rel="stylesheet" href="/static/admin.css")

block prepend scripts
    script(src="/static/admin.js")
    script(src="/static/sorttable.js")

block append main
    //include ../includes/adminbar.pug
    #error
        p
    table.player-container.sortable
        thead
            tr.player-info.header(id="player-0" data-id="0")
                td.player-data.firstname First Name
                td.player-data.lastname Last Name
                td.player-data.title Title
                td.player-data.email Email
                td.player-data.phone Phone
                td.player-data.aNumber A Number
                td.player-data.bandanna Bandanna
                td.player-data.permissions Permissions
                td.player-data.quickActions Actions
        tbody#player-container