extends ../page.pug

block append head
    title ZombieAggies | Players

block append styles
    link(rel="stylesheet" href="/static/admin.css")

block prepend scripts
    script(src="/static/admin.js")

block append main
    //include ../includes/adminbar.pug
    table.player-container
        tr.player-info.header(id="player-0" data-id="0")
            th.player-data.firstname First Name
            th.player-data.lastname Last Name
            th.player-data.title Title
            th.player-data.email Email
            th.player-data.phone Phone
            th.player-data.aNumber A Number
            th.player-data.bandanna Bandanna
            th.player-data.permissions Permissions
            th.player-data.quickActions Actions