- var date = new Date;
#nav
    .nav-item
        a(href="/")
            i(aria-hidden class="fas fa-fw fa-home")
            .nav-text ZombieAggies
    .nav-item
        a(href="/rules")
            i(aria-hidden class="fas fa-fw fa-book")
            .nav-text Rules
    if (date.getMonth() === 4 && date.getDay() >= 1 && date.getDay() <= 5) || (user && (user.viewHiddenTabs || user.accessPointManagement))
        .nav-item
            a(href="/map")
                i(aria-hidden class="fas fa-fw fa-map")
                .nav-text Map
    if user
        if user.accessPointManagement || user.viewHiddenTabs
            .nav-item
                a(href="/manage")
                    i(aria-hidden class="fas fa-fw fa-street-view")
                    .nav-text Moderation
        if user.accessUserManagement || user.viewHiddenTabs
            .nav-item
                a(href="/admin")
                    i(aria-hidden class="fas fa-fw fa-user-shield")
                    .nav-text User Management
        if user.useAdminRoutes || user.viewHiddenTabs
            .nav-item
                a(href="/admin/buttons")
                    i(aria-hidden class="fas fa-fw fa-exclamation-triangle")
                    .nav-text Admin Options
        .nav-spacer
        .nav-item
            a(href="/auth/status")
                i(aria-hidden class="fas fa-fw fa-user")
                .nav-text #{user.firstname}
    else
        .nav-spacer
        .nav-item
            a(href="/auth/login")
                i(aria-hidden class="fas fa-fw fa-user")
                .nav-text Login
    .nav-item
        a(href="https://discord.gg/eHUqHnM")
            i(aria-hidden class="fab fa-fw fa-discord")
            .nav-text Discord