extends base/page

block append head
    title ZombieAggies | 403

block append main
    .centered
        h1 403 Permission Denied
        p I'm sorry Dave, I'm afraid I can't do that.
        p: a(href="/") Home
            i(class="fas fa-fw fa-home")
