extends base/page

block append head
    title ZombieAggies

block content
    include includes/leftbar
    #home-content
        .home-header#splash
            h1 Humans vs Zombies
            h2 ZombieAggies Organization
            .next-game
                p September 30th - October 4th, 2019
        section#join
            h2 Join Us
            p.
                Join us on Discord to receive game updates, news, and discuss game events and lore.
            .join-links
                .join-link
                    a(href="https://discord.gg/eHUqHnM")
                        i(aria-hidden class="fab fa-fw fa-discord")
                        | Discord
        section#about
            h2 About Us
            p.
                We're a USU RHA club dedicated to night games and fun on campus. Every semester, we play a week-long 
                game of infection tag starting at 8AM and going until 10PM. Humans try to sneak between classes while
                avoiding Zombies who hunt and pursue their targets. Every night during this week, we meet and play 
                different missions where the Zombies try to capture the Humans while the Humans try to thwart the 
                Zombies.
        //- section#orientations
            h2 Orientations
            p: ul
                li Tuesday, March 26th @ 7:30PM - Central Campus Suites Lobby
                li Wednesday, March 27th @ 7:30PM - Lundstrom Hall Conference Room
                li Thursday, March 28th @ 4:30PM - LLC Multipurpose Room
                li Saturday, March 30th @ 1:00PM - Blue Square Lounge
                li Saturday, March 30th @ 7:30PM - Merrill Hall 2.5 Lounge
                li Sunday, March 31st @ 5:00PM - Central Campus Suites Multipurpose Room
        section#presidency
            h2 Our Presidency
            .people-cards
                .person
                    .person-header(style="--color: #36393f")
                        h3.name James
                        p.position President
                    .discord: p He Who Remains!
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/james.jpg")
                    .person-bio
                        p.
                            My name is James. I am president of the Zombie Aggies Organization and proud of it. I like
                            musicals, rock climbing, and anything sci-fi. I like playing video games but love to spend
                            time with a book or outdoors.
                .person
                    .person-header(style="--color: #4169e1")
                        h3.name Jake
                        p.position Vice President of Moderators
                    .discord: p BlueJay (MOM III)
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/jake.jpg")
                    .person-bio
                        p. 
                            Sup, I'm Jake aka BlueJay. I'm a secondary ed-history composite major. I enjoy obsessing 
                            over Kingdom Hearts, reading, and watching Netflix.
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Eric
                        p.position Vice President of Humans
                    .discord: p Survivor
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/eric.jpg")
                    .person-bio
                        p.
                            My name is Eric Lambert. I am married with a daughter 
                            just over a year old. I play board games, video games, 
                            and read extensively. I like hugs too. 
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Shawn
                        p.position Vice President of Zombies
                    .discord: p Azazel (Z Harbringer)
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/shawn.jpg")
                    .person-bio
                        p.
                            My name is Shawn and I am the Zombie Harbringer. I study as a junior in Computer 
                            Science. I enjoy playing hockey, chess, super smash brothers ultimate, and watching 
                            Supernatural.
        section#officers
            h2 Our Officers
            .people-cards
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Alyssa
                        p.position Secretary
                    .discord: p Red Devil (Z Harbinger)
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/alyssa.jpg")
                    .person-bio
                        p.
                            My name is Alyssa, but even outside the game most people just call me Red because all my
                            shirts are the same color. I enjoy creative writing, piano, and video games, but I'm always
                            down to kick your butt at a game of Werewolf too!
                .person
                    .person-header
                        h3.name Kaitlynn 
                        p.position Grand Visier of the Hype Train
                    .discord: p Ghostie
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/ghostie.jpg")
                    .person-bio
                        p.
                            Hello! My name is Kaitlynn but everyone calls me Ghostie. I am currently studying Psychology. 
                            I enjoy painting, baking, playing D&amp;D, and preparing for the apocalypse. I am the 
                            Sparklebearer right now, so feel free to come say hi!
                .person
                    .person-header
                        h3.name Alicia 
                        p.position Historian
                    .discord: p Kassandra of Troy
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/alicia.jpg")
                    .person-bio
                        p.
                            My name is Alicia.  I'm studying archaeology and folklore. Pastimes include getting too
                            emotionally involved with fictional characters, making a fool of myself, and doing obscene
                            amounts of research for fictional worlds I'll never use.  I love a good story.
        section#prior-leadership
            h2 Prior Leadership
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Hunter
                        p.position Secretary
                    .discord: p Atlas (Hunter)
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="https://www.gravatar.com/avatar/a2dfd7e06787d713744b7daa8402d6aa?s=200")
                    .person-bio
                        p.
                            Hey, I was Hunter. I was a Sophomore in Computer Science and English. I liked to code, and could be
                             found playing Overwatch, Factorio, and StarCraft.
                .person
                    .person-header
                        h3.name Amaya 
                        p.position Grand Visier of the Hype Train
                    .discord: p Little Doomer
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/amaya.jpg")
                    .person-bio
                        p.
                            Hello! I was Amaya. I was a Sophomore in Biochemistry. I spent my free time reading books, 
                            singing karaoke with friends, and just hanging out with people.
                .person
                    .person-header(style="--color: #2ecc71")
                        h3.name Matt
                        p.position RHA Events Coordinator
                    .discord: p MyCabbages
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/matt.jpg")
                    .person-bio
                        p.
                            My name was Matthew Wheat. I was the RHA Events Coordinator; which means I oversaw HVZ.
                            I graduated in Graphic Design and Computer Science, and I loved good ideas!
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Josh
                        p.position Vice President of Humans
                    .discord: p Oshthegreen (Human Harbinger)
                        i(aria-hidden class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/josh.jpg")
                    .person-bio
                        p.
                            Hi! I was Josh aka Salty and I was the Human Harbinger.  I liked improv and random spontaneous
                            singing. I was majoring in Mechanical Engineering only because “fun” wasn’t a real major.
        footer
            p Copyright &copy; Hunter Henrichsen, 2019. All rights reserved.
