extends base/page

block append head
    title ZombieAggies
    meta(name="google-site-verification" content=googleVerification)

block content
    include includes/leftbar
    #home-content
        .home-header
            .home-video
                video(autoplay muted loop id="preview-roll" )
                    source(data-src="/static/preview_roll.mp4", type="video/mp4")
                .home-video-text
                    h1 Humans vs Zombies
                    h2 ZombieAggies Organization
                    .next-game
                        p October 4th - October 8th, 2021
        section#join
            h2 Join Us
            p.
                Join us on Discord to receive game updates, news, and discuss game events and lore.
            .join-links
                .join-link
                    a(href="https://discord.gg/eHUqHnM")
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                        | Discord
        section#about
            h2 About Us
            p.
                We're a USU RHA club dedicated to night games and fun on campus. Every semester, we play a week-long 
                game of infection tag starting at 8AM and going until 10PM. Humans try to sneak between classes while
                avoiding Zombies who hunt and pursue their targets. Every night during this week, we meet and play 
                different missions where the Zombies try to capture the Humans while the Humans try to thwart the 
                Zombies.
        section#orientations
            h2 Orientations
            p: ul
                li Monday, September 27th - Mountain View Tower at 6:00 PM
                li Tuesday, September 28th - Merrill Hall at 7:00 PM
                li Wednesday, September 29th - Bullen Hall at 5:30 PM
                li Thursday, September 30th - LLC Building A at 6:00 PM
                li Friday, October 1st - Central Suites at 6:00 PM
                li Saturday, October 2nd - Richards Hall at 5:00 PM
                li Sunday, October 3rd - Lundstrom Building at 6:00 PM
                li Monday, October 4th - Old Main at 7:00 PM
        section#day-play 
            h2 Day Play
            p. 
                This year our game will have two portions, the first being Day Play.
            p.
                Day Play starts at 8:00 am. It will run until 7:45 pm, right before the night mission. Humans goal
                is to avoid being tagged by whichever Zombies decide to be out and about.Tags will be logged through 
                the website and can be viewed there. Please attend all classes, the game is to be played between them, 
                not during.
            p.
                There will also be a day mission everyday on the Quad from 1:00 pm to 2:00 pm. A safe zone will be in 
                place from 12:45 pm until 2:15 pm so that people can get to and from the mission safely.
        section#night-mission 
            h2 Night Missions
            p. 
                Night Missions will be where the Humans and Zombies compete for objectives. Specific details about each
                mission will be released by the harbingers at some point between the day and night missions. A safe zone 
                will be in place from 7:45 pm until the night mission starts at 8:00 pm. Missions will run until 10:00 pm
                where we will close for the day.
        section#presidency
            h2 Our Presidency
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Robert Gordan
                        p.position Co-President
                    .discord: p Bounty Hunter
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/robert.jpg" alt="An image of Hunter.")
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Teagan Perry
                        p.position Co-President
                    .discord: p T-Bone
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/teagan.png" alt="An image of Hunter.")
        footer
            p Copyright &copy; Hunter Henrichsen, 2019-#{new Date().getYear() + 1900}. All rights reserved.
