extends base/page

block append head
    title ZombieAggies
    meta(name="google-site-verification" content=googleVerification)

block content
    include includes/leftbar
    #home-content
        .home-header
            .home-video
                video(autoplay muted loop id="preview-roll" )
                    source(data-src="/static/preview_roll.mp4", type="video/mp4")
                .home-video-text
                    h1 Humans vs Zombies
                    h2 ZombieAggies Organization
                    .next-game
                        p March 23rd - March 27th, 2020
        section#join
            h2 Join Us
            p.
                Join us on Discord to receive game updates, news, and discuss game events and lore.
            .join-links
                .join-link
                    a(href="https://discord.gg/eHUqHnM")
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                        | Discord
        section#about
            h2 About Us
            p.
                We're a USU RHA club dedicated to night games and fun on campus. Every semester, we play a week-long 
                game of infection tag starting at 8AM and going until 10PM. Humans try to sneak between classes while
                avoiding Zombies who hunt and pursue their targets. Every night during this week, we meet and play 
                different missions where the Zombies try to capture the Humans while the Humans try to thwart the 
                Zombies.
        section#orientations
            h2 Orientations
            p: ul
                li Monday, September 27th - Mountain View Tower at 6:00 PM
                li Tuesday, September 28th - Merrill Hall at 7:00 PM
                li Wednesday, September 29th - Bullen Hall at 5:30 PM
                li Thursday, September 30th - LLC Building A at 6:00 PM
                li Friday, October 1st - Central Suites at 6:00 PM
                li Saturday, October 2nd - Richards Hall at 5:00 PM
                li Sunday, October 3rd - Lundstrom Building at 6:00 PM
                li Monday, October 4th - Old Main at 7:00 PM
        section#day-play 
            h2 Day Play
            p. 
                This year our game will have two portions, the first being Day Play.
            p.
                Day Play starts at 8:00 am. It will run until 7:45 pm, right before the night mission. Humans goal
                is to avoid being tagged by whichever Zombies decide to be out and about.Tags will be logged through 
                the website and can be viewed there. Please attend all classes, the game is to be played between them, 
                not during.
            p.
                There will also be a day mission everyday on the Quad from 1:00 pm to 2:00 pm. A safe zone will be in 
                place from 12:45 pm until 2:15 pm so that people can get to and from the mission safely.
        section#night-mission 
            h2 Night Missions
            p. 
                Night Missions will be where the Humans and Zombies compete for objectives. Specific details about each
                mission will be released by the harbingers at some point between the day and night missions. A safe zone 
                will be in place from 7:45 pm until the night mission starts at 8:00 pm. Missions will run until 10:00 pm
                where we will close for the day.
        section#presidency
            h2 Our Presidency
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Robert Gordan
                        p.position Co-President
                    .discord: p Bounty Hunter
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/robert.jpg" alt="An image of Hunter.")
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Teagan Perry
                        p.position Co-President
                    .discord: p T-Bone
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/teagan.png" alt="An image of Hunter.")
        section#officers
            h2 Our Officers
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Hunter
                        p.position President
                    .discord: p Hunter
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="https://www.gravatar.com/avatar/a2dfd7e06787d713744b7daa8402d6aa?s=200" alt="An image of Hunter.")
                    .person-bio
                        p.
                            Hey, I'm Hunter. I majored in Computer Science. I liked to code, and could be
                             found playing Overwatch, Factorio, and StarCraft.
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Eric
                        p.position Vice President of Humans
                    .discord: p Survivor
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/eric-reduced.webp" alt="An image of Eric.")
                    .person-bio
                        p.
                            My name is Eric Lambert. I am married with two daughters
                            just over a year old. I play board games, video games, 
                            and read extensively. I like hugs too. 
                .person
                    .person-header
                        h3.name Corey 
                        p.position Vice President of Zombies
                    .discord: p Insanity
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/corey-reduced.webp" alt="An image of Corey.")
                    .person-bio
                        p.
                            Heyo! My name was Corey and I was the Vice President of Zombies! I was studying to be an Aerospace
                            Engineer. Some things I enjoyed are hiking, skiing, running, reading and playing video games. 
                            I also liked giving Eric hugs.
                .person
                    .person-header(style="--color: #36393f")
                        h3.name James
                        p.position President
                    .discord: p Old Man Hats
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/james-reduced.webp" alt="An image of James.")
                    .person-bio
                        p.
                            My name was James. I was president of the Zombie Aggies Organization and proud of it. I liked
                            musicals, rock climbing, and anything sci-fi. I liked playing video games but loved to spend
                            time with a book or outdoors.
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Shawn
                        p.position Vice President of Zombies
                    .discord: p Azazel
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/shawn-reduced.webp" alt="An image of Shawn.")
                    .person-bio
                        p.
                            My name is Shawn and I am the Zombie Harbringer. I study as a junior in Computer 
                            Science. I enjoy playing hockey, chess, super smash brothers ultimate, and watching 
                            Supernatural.
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Alyssa
                        p.position Secretary
                    .discord: p Red Devil
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/alyssa-reduced.webp" alt="An image of Alyssa.")
                    .person-bio
                        p.
                            My name was Alyssa, but even outside the game most people just called me Red because all my
                            shirts were the same color. I enjoyed creative writing, piano, and video games, but I was always
                            down to kick your butt at a game of Werewolf too!
                .person
                    .person-header
                        h3.name Kaitlynn 
                        p.position Grand Visier of the Hype Train
                    .discord: p Ghostisaurus
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/ghostie-reduced.webp" alt="An image of Kaitlynn.")
                    .person-bio
                        p.
                            Hello! My name was Kaitlynn but everyone called me Ghostie. I was currently studying Psychology. 
                            I enjoyed painting, baking, playing D&amp;D, and preparing for the apocalypse. I was the 
                            Sparklebearer, so feel free to come say hi!
        footer
            p Copyright &copy; Hunter Henrichsen, 2019-#{new Date().getYear() + 1900}. All rights reserved.
