extends base/page

block append head
    title ZombieAggies
    meta(name="google-site-verification" content=googleVerification)

block content
    include includes/leftbar
    #home-content
        .home-header
            .home-video
                video(autoplay muted loop id="preview-roll" )
                    source(data-src="/static/preview_roll.mp4", type="video/mp4")
                .home-video-text
                    h1 Humans vs Zombies
                    h2 ZombieAggies Organization
                    .next-game
                        p March 23rd - March 27th, 2020
        section#join
            h2 Join Us
            p.
                Join us on Discord to receive game updates, news, and discuss game events and lore.
            .join-links
                .join-link
                    a(href="https://discord.gg/eHUqHnM")
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                        | Discord
        section#about
            h2 About Us
            p.
                We're a USU RHA club dedicated to night games and fun on campus. Every semester, we play a week-long 
                game of infection tag starting at 8AM and going until 10PM. Humans try to sneak between classes while
                avoiding Zombies who hunt and pursue their targets. Every night during this week, we meet and play 
                different missions where the Zombies try to capture the Humans while the Humans try to thwart the 
                Zombies.
        section#orientations
            h2 Orientations
            // p: ul
            //     li Monday, September 23rd @ 6:00PM - Lundstrom Conference Room
            //     li Tuesday, September 24th @ 8:00PM - Merril 2.5 Lounge
            //     li Wednesday, September 25th @ 6:00PM - Blue Square Lounge
            //     li Thursday, September 26th @ 6:00PM - LLC Building A room 110
            //     li Friday, September 27th @ 6:00PM - Family Housing Community General Offices
            //     li Saturday, September 28th @ 6:00PM - Central Suites Multipurpose Room
            //     li Sunday, September 29th @ 6:00PM - Central Suites Multipurpose Room
        section#presidency
            h2 Our Presidency
            .people-cards
                .person
                    .person-header(style="--color: #36393f")
                        h3.name James
                        p.position President
                    .discord: p The Hat-rosaur
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/james.webp" alt="An image of James.")
                    .person-bio
                        p.
                            My name is James. I am president of the Zombie Aggies Organization and proud of it. I like
                            musicals, rock climbing, and anything sci-fi. I like playing video games but love to spend
                            time with a book or outdoors.
                .person
                    .person-header(style="--color: #4169e1")
                        h3.name Jake
                        p.position Vice President of Moderators
                    .discord: p BlueJaydactyl (MOM III)
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/jake.webp" alt="An image of Jake.")
                    .person-bio
                        p. 
                            Sup, I'm Jake aka BlueJay. I'm a secondary ed-history composite major. I enjoy obsessing 
                            over Kingdom Hearts, reading, and watching Netflix.
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Eric
                        p.position Vice President of Humans
                    .discord: p Survivor
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/eric.webp" alt="An image of Eric.")
                    .person-bio
                        p.
                            My name is Eric Lambert. I am married with a daughter 
                            just over a year old. I play board games, video games, 
                            and read extensively. I like hugs too. 
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Shawn
                        p.position Vice President of Zombies
                    .discord: p Azazelsaur
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/shawn.webp" alt="An image of Shawn.")
                    .person-bio
                        p.
                            My name is Shawn and I am the Zombie Harbringer. I study as a junior in Computer 
                            Science. I enjoy playing hockey, chess, super smash brothers ultimate, and watching 
                            Supernatural.
        section#officers
            h2 Our Officers
            .people-cards
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Alyssa
                        p.position Secretary
                    .discord: p Red Devil (Z Harbinger)
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/alyssa.webp" alt="An image of Alyssa.")
                    .person-bio
                        p.
                            My name is Alyssa, but even outside the game most people just call me Red because all my
                            shirts are the same color. I enjoy creative writing, piano, and video games, but I'm always
                            down to kick your butt at a game of Werewolf too!
                .person
                    .person-header
                        h3.name Kaitlynn 
                        p.position Grand Visier of the Hype Train
                    .discord: p Ghostisaurus
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/ghostie.webp" alt="An image of Kaitlynn.")
                    .person-bio
                        p.
                            Hello! My name is Kaitlynn but everyone calls me Ghostie. I am currently studying Psychology. 
                            I enjoy painting, baking, playing D&amp;D, and preparing for the apocalypse. I am the 
                            Sparklebearer right now, so feel free to come say hi!
                .person
                    .person-header
                        h3.name Alicia 
                        p.position Historian
                    .discord: p Kassandra of Troy
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/alicia.webp" alt="An image of Alicia.")
                    .person-bio
                        p.
                            My name is Alicia.  I'm studying archaeology and folklore. Pastimes include getting too
                            emotionally involved with fictional characters, making a fool of myself, and doing obscene
                            amounts of research for fictional worlds I'll never use.  I love a good story.
        section#prior-leadership
            h2 Prior Leadership
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Hunter
                        p.position Secretary
                    .discord: p Hunter
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="https://www.gravatar.com/avatar/a2dfd7e06787d713744b7daa8402d6aa?s=200" alt="An image of Hunter.")
                    .person-bio
                        p.
                            Hey, I was Hunter. I was a Sophomore in Computer Science and English. I liked to code, and could be
                             found playing Overwatch, Factorio, and StarCraft.
                .person
                    .person-header
                        h3.name Amaya 
                        p.position Grand Visier of the Hype Train
                    .discord: p Little Doomer
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/amaya.webp" alt="An image of Amaya.")
                    .person-bio
                        p.
                            Hello! I was Amaya. I was a Sophomore in Biochemistry. I spent my free time reading books, 
                            singing karaoke with friends, and just hanging out with people.
                .person
                    .person-header(style="--color: #2ecc71")
                        h3.name Matt
                        p.position RHA Events Coordinator
                    .discord: p MyCabbages
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/matt.webp" alt="An image of Matt.")
                    .person-bio
                        p.
                            My name was Matthew Wheat. I was the RHA Events Coordinator; which means I oversaw HVZ.
                            I graduated in Graphic Design and Computer Science, and I loved good ideas!
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Josh
                        p.position Vice President of Humans
                    .discord: p Oshthegreen (Human Harbinger)
                        i(aria-hidden="true" class="fab fa-fw fa-discord")
                    .person-image
                        img(src="/static/josh.webp" alt="An image of Josh.")
                    .person-bio
                        p.
                            Hi! I was Josh aka Salty and I was the Human Harbinger.  I liked improv and random spontaneous
                            singing. I was majoring in Mechanical Engineering only because “fun” wasn’t a real major.
        footer
            p Copyright &copy; Hunter Henrichsen, 2019-#{new Date().getYear() + 1900}. All rights reserved.
