extends base/page

block append head
    title ZombieAggies | #{lore.title}

block content
    include includes/leftbar
    #main-column
        .lore-container
            h1 #{lore.title}
            if(lore.image)
                img(src=`${lore.image}`)
            if(lore.description)
                p 
                    | !{lore.description}