extends base/page

block append head
    title ZombieAggies | Rules

block content
    include includes/leftbar
    #home-content
        .home-header
            h1 Rules
        section#ground-rules
            h2 Ground Rules
            p: ul
                li.
                    If you are experiencing COVID symptoms, you are not allowed to participate in activites. Please stay
                    home until you feel better, or test negative for COVID-19.
                li.
                    Treat other players, moderators, and admins with respect and sportspersonship.
        section#day-play
            h2 Day Play
            p: ul
                li.
                    Follow rules explained in orientation and use common sense.
                li.
                    Avoid non-players while playing the game.
                li.
                    Follow Presidency and Moderator instructions.
        section#safe-noplay
            h2 Safe and No Play Zones
            p
                | Safe Zones mean Humans get 5 seconds of safety when they leave. The Human leaving the safe zone is
                | responsible for counting their time out loud. In order for a tag to count, the Human and Zombie must
                | have both feet outside of the safe zone. Humans cannot stun zombies from inside of a safe zone.
            p Safe Zones include:
                ul
                    li Buses
                    li Institute
                    li Stairs
                    li Doorknobs
            p
                | No Play Zones mean you cannot play inside these areas. No protection after you leave and bandannas
                | must be removed if you go inside.
            p No Play Zones include:
                ul
                    li University Inn
                    li Lillywhite Building
                    li Streets
                    li Parking Lots
                    li Cars
                    li Off Campus
                    li Cemetery
        section#zero-tolerance
            h2 Zero Tolerance Behavior
            ul 
                li Disrespect towards players/moderators/admins
                li Excessive profanity/rude gestures
                li Unsportspersonlike conduct
                li Excessive conflict during an argument
                li Violent or threatening behavior
                li Unsafe activity
        footer
            p Copyright &copy; Hunter Henrichsen, 2019. All rights reserved.