@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);
@import '../../node_modules/nord/src/sass/nord';

$colors: (
        background-dark: $nord0,
        background-dark-mid: $nord1,
        background-dark-light: $nord2,
        background-light-dark: $nord3,
        background-light-mid: $nord4,
        background-light: $nord5,
        accent: #ff6e1a,
        contrast: $nord7,
        text-light: transparentize($nord6, 0.1),
        text-dark: transparentize($nord2, 0.1),
        green: $nord14,
        yellow: $nord13,
        red: $nord11,
);


$font_sans: 'Roboto', sans-serif;
$font_serif: 'Roboto Slab', serif;