@import 'globals';

#manage {
    padding-top: 24px;
    flex: 0 0 300px;
    background-color: map-get($colors, background-dark);
    font-family: $font_sans;

    h1
    {
        color: map-get($colors, text-light);
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
    }
}


.location {
    background-color: map-get($colors, background-light);
    color: black;
    border-bottom: darken(map-get($colors, accent), 20%) 1px solid;
    border-radius: 8px;
    padding: 4px;
    margin: 15px 10px 10px;
    box-shadow: 0 1px 4px -1px black;

    &.expanded {
        .location-actions {
            display: block;
            margin: 4px 4px 8px;
            padding: 4px;

            * {
                display: block;
            }
        }

        .location-paired-action {
            > * {
                display: inline-block;
            }

            i {
                float: right;
            }
        }

        .location-collapse > i {
            transform: rotate(180deg);

            transition: 0.5s;
        }
    }

    i {
        transition: 0.5s;
    }
}

.location-name {
    user-select: none;
    cursor: default;
    display: inline-block;
    font-family: $font_serif;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    color: map-get($colors, text-dark);
}

.location-head {
    margin: 4px 4px 8px;
    padding: 4px;
    border-bottom: transparentize(map-get($colors, accent), 0.1) 1px solid;
}

.location-realname {
    user-select: none;
    cursor: default;
    color: map-get($colors, text-dark);
    font-family: $font_sans;
    font-size: 20px;
    font-variant: small-caps;
    a {
        color: map-get($colors, accent);
        text-decoration: none;
    }
    a:visited {
        color: darken(map-get($colors, accent), 10%);
        text-decoration: none;
    }
}

.location-actions {
    transition: height 0.5s;
    display: flex;

    * {
        transition: 0.5s;
        display: none;
        overflow: hidden;
    }
}

.location-ownership {
    padding: 4px;
    margin: 4px 4px 8px;
    height: 24px;
    flex: 2;
    color: black;
    border-radius: 4px;
    background-color: var(--team-color);
    box-shadow: 0 1px 4px -1px black;
    filter: grayscale(30%) brightness(110%);
    transition: 0.5s filter linear;

    &:hover {
        filter: grayscale(30%) brightness(130%);
    }

    i {
        float: right;
    }
}

.location-collapse {
    float: right;
}

.location-enable {
    background-color: map-get($colors, green);
}

.location-disable {
    background-color: map-get($colors, red);
}

.location-paired-action
{
    display: flex;
    width: 100%;

    & > *
    {
        flex: 1 50px;
        padding: 4px;
        margin: 4px 4px 8px;
        border-radius: 4px;
        box-shadow: 0 1px 4px -1px black;

        &:hover
        {
            filter: brightness(120%);
        }
    }
}

.location-spacer
{
    flex: 1 1 0px;
}

