extends ../base/page

block append head
    title ZombieAggies | Forgot Password

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Forgot Password
        .auth-form
            p Check your email. A message should have been sent to you with instructions on how to reset your password.
            p 
                |If you have issues, message Hunter or an Admin on 
                a(href="http://discord.zombieaggies.me/") Discord
                |.
