extends ../base/page

block append head
    title ZombieAggies | Register

block append styles
    link(rel="stylesheet" href="/static/auth.css")

block append main
    .auth
        .auth-header
            h1 ZombieAggies
            h2 Register
        .auth-error
            if error
                p #{error}
        .auth-form
            form(id="register" action="/auth/register" method="post")
                input(type='hidden', name='_csrf', value=csrf)
                label.required First Name:
                    input(required type="text" name="firstname")
                label.required Last Name:
                    input(required type="text" name="lastname")
                label.required Email:
                    input(required type="email" name="username")
                label.required A Number:
                    input(required type="text" name="aNumber" autocomplete="off")
                label Phone Number:
                    input(type="text" name="phone")
                label.required Password:
                    input(required type="password" name="password")
                button(type="submit") Register
                br
            p 
                | Already have an account? 
                a(href="/auth/login") Login
                |.
            p 
                | By registerring, you agree to our 
                a(href="/legal/tos") Terms
                | and our 
                a(href="/legal/privacy") Privacy Policy
                |.
