extends base/page.pug

block append head
    title ZombieAggies | Login

block append main
    .centered
        h1 404
        p I can't find what you're looking for.
        p: a(href="/") Home
            i(class="fas fa-fw fa-home")