extends base/page.pug

block append head
    title ZombieAggies

block content
    include includes/leftbar
    #home-content
        .home-header#splash
            h1 Humans vs Zombies
            h2 ZombieAggies Organization
            .next-game
                p April 1st - April 5th, 2019
        .home-section#join
            h2 Join Us
            p.
                Join us on Discord or HvZ Source to receive game updates, news, and discuss game events and lore.
            .join-links
                .join-link
                    a(href="https://discord.gg/eHUqHnM")
                        i(aria-hidden class="fab fa-fw fa-discord")
                        | Discord
                .join-link
                    a(href="https://hvzsource.com/zombieaggies")
                        i(aria-hidden class="fa fa-fw fa-brain")
                        | HvZ Source
        .home-section#about
            h2 About Us
            p.
                We're a USU RHA club dedicated to night games and fun on campus. Every semester, we play a week-long 
                game of infection tag starting at 8AM and going until 10PM. Humans try to sneak between classes while
                avoiding Zombies who hunt and pursue their targets. Every night during this week, we meet and play 
                different missions where the Zombies try to capture the Humans while they try to thwart the Zombies.
        .home-section#comments
            h2 From the Players
            .player-comments
                //.player-comment
                //    h3 Hunter Henrichsen:
                //    p.
                //        Sample Text.
        .home-section#presidency
            h2 Our Presidency
            .people-cards
                .person
                    .person-header(style="--color: #36393f")
                        h3.name James
                        p.position President
                    .person-image
                        img(src="/static/james.jpg")
                    .person-bio
                        p.
                            My name is James. I am president of the Zombie Aggies Organization and proud of it. I like
                            musicals, rock climbing, and anything sci-fi. I like playing video games but love to spend
                            time with a book or outdoors.
                .person
                    .person-header(style="--color: #2ecc71")
                        h3.name Matt
                        p.position RHA Events Coordinator
                    .person-image
                        img(src="/static/matt.jpg")
                    .person-bio
                        p.
                            My name is Matthew Wheat. I am the RHA Events Coordinator; which means I oversee HVZ.
                            I'm graduating this year in Graphic Design and Computer Science. And I love good ideas!
                .person
                    .person-header(style="--color: #4169e1")
                        h3.name Jake
                        p.position Vice President of Moderators
                    .person-image
                        img(src="/static/jake.jpg")
                    .person-bio
                        p. 
                            Sup, I'm Jake aka BlueJay. I'm a secondary ed-history composite major. I enjoy obsessing 
                            over Kingdom Hearts, reading, and watching Netflix.
                .person
                    .person-header(style="--color: #ff0000")
                        h3.name Alyssa
                        p.position Vice President of Zombies
                    .person-image
                        img(src="/static/alyssa.jpg")
                    .person-bio
                        p.
                            My name is Alyssa, but even outside the game most people just call me Red because all my
                            shirts are the same color. I enjoy creative writing, piano, and video games, but I'm always
                            down to kick your butt at a game of Werewolf too!
                .person
                    .person-header(style="--color: #ff8000")
                        h3.name Josh
                        p.position Vice President of Humans
                    .person-image
                        img(src="/static/josh.jpg")
                    .person-bio
                        p.
                            Hi! I’m Josh aka Salty and I’m the Human Harbinger.  I like improv and random spontaneous
                            singing. I’m majoring in Mechanical Engineering only because “fun” isn’t a real major.
        .home-section#officers
            h2 Our Officers
            .people-cards
                .person
                    .person-header(style="--color: #fab000")
                        h3.name Hunter
                        p.position Secretary
                    .person-image
                        img(src="https://www.gravatar.com/avatar/a2dfd7e06787d713744b7daa8402d6aa?s=200")
                    .person-bio
                        p.
                            Hey, I'm Hunter. I'm a Sophomore in Computer Science and English. I like to code, and can be
                             found playing Overwatch, Factorio, and StarCraft.
                .person
                    .person-header
                        h3.name Amaya 
                        p.position Grand Visier of the Hype Train
                    .person-image
                        img(src="/static/amaya.jpg")
                    .person-bio
                        p.
                            Hello! I’m Amaya. I am a Sophomore in Biochemistry. I spend my free time reading books, 
                            singing karaoke with friends, and just hanging out with people.
                .person
                    .person-header
                        h3.name Alicia 
                        p.position Historian
                    .person-image
                        img(src="/static/alicia.jpg")
                    .person-bio
                        p.
                            My name is Alicia.  I'm studying archaeology and folklore. Pastimes include getting too
                            emotionally involved with fictional characters, making a fool of myself, and doing obscene
                            amounts of research for fictional worlds I'll never use.  I love a good story.
        .footer
            p Copyright &copy; Hunter Henrichsen, 2019. All rights reserved.