doctype html
html
    head
        title ZombieAggies | Map
        block style
            link(rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
                integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
                crossorigin="")
            link(rel="stylesheet" href="static/style.css")
        block scripts
            script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin="")
            script(src="static/hvz.js")
    body(onload="init()")
        include includes/header.pug
        div(class='map-wrapper')
            div(id='map')
        include includes/footer.pug
    