extends base/page

block append head
    title ZombieAggies | Rules

block content
    include includes/leftbar
    #home-content
        .home-header
            h1 Rules
        .home-section#general
            h2 General
            p Humans vs Zombies is a game of infection tag. That means:
            p: ul
                li.
                    If a Zombie tags a Human, the Human becomes a Zombie. That means the Human gives their brain card
                    to the tagging zombie, and begins play as a Zombie.
                li.
                    If a Zombie is hit by a sock, they become stunned until the next 15 minute mark.
        .home-section#stuns
            h2 Stuns
            p: ul
                li.
                    When a Zombie is stunned, they may not participate in any gameplay. That means that stunned zombies
                    cannot give locations via Discord, speak in Voice chat, tag humans, or otherwise interact with the
                    game unless the rules specify otherwise.
                li.
                    Stuns last until the next 15 minute mark. That means if a Zombie is
                    stunned at 2:00, they become active again at 2:15. If a Zombie is stunned at 2:14, they
                    become active again at 2:15.
        .home-section#safe-noplay
            h2 Safe and No Play Zones
            p
                | Safe Zones means Humans get 10 seconds of safety when they leave. The Human leaving the safe zone is
                | responsible for counting their time out loud. In order for a tag to count, the Human and Zombie must
                | have both feet outside of the safe zone. Humans cannot stun zombies from inside of a safe zone.
            p Safe Zones include:
                ul
                    li Buses
                    li Institute
                    li Stairs
                    li Doorknobs
                    li Cemetery
            p
                | No Play Zones mean you cannot play inside these areas. No protection after you leave and bandannas
                | must be removed if you go inside.
            p No Play Zones include:
                ul
                    li University Inn
                    li Lillywhite Building
                    li Streets
                    li Parking Lots
                    li Cars
                    li Off Campus
        footer
            p Copyright &copy; Hunter Henrichsen, 2019. All rights reserved.